StartUp
Word's & Data
Tools
Menus & Disks
NewShell
newcli
r
AmosPro
Work:Amos_Pro/AMOSPro
o
Amos Compiler
Work:Amos_Pro/Compiler_Shell
r


n
Blitz.Guide
c:amigaguide Work:Blitz2_V1.3.guide
r
Blitz Basic 2
Work:blitz2/blitz2
l
Ted
Work:blitz2/ted
r


n


n
CanDo 3.0
Work:CanDo/CanDo
o


n


n
GFABasic
Work:GFABASIC/GFABasic
o
GFABasic-Com
WorkBench:GFA_Bcom/menux
o
EdWordPro
Work:EdWordPro/EdWordPro
r
WordWorth3
Work:Wordworth3/Wordworth
r
Protext
Work:Protext/protext
r
Ced ?
c:CeD
o
Qed ?
c:ed
r


n


n
Organiser
Work:Organiser/Organiser
r
DataStore
Work:Datastore/datastore
r


n


n
AGW
Work:AmigaGuideWriter/AGW
r
Fullview
c:fullview
r
Execute Command

c
Opus 5
Work:Opus5/DirectoryOpus
r
Dir Work 2
Work:DirWork_2/DW
r
GuiGrc
WorkBench:GuiArc
r
HDClick
WorkBench:hdclick/HDClick
r


n
Exchange
WorkBench:tools/commodities/Exchange
r
Calculator
WorkBench:tools/Calculator
r
FindIt
c:findit
r


n
Requestfile
WorkBench:c/RequestFile
r


n
DiskExpander
WorkBench:c/DiskExpander WB
r
DEStatistics
WorkBench:DiskExpander/DEStatistics
r
DEDevicePacker
WorkBench:DiskExpander/DevicePacker
r
SnoopDos
Work:snoopdos/SnoopDos
o
Format DF0:
WorkBench:system/Format drive df0: name empty0 noicons
r
Format DF1:
WorkBench:system/Format drive df1: name empty1 noicons
r


n


n


n


n


n
Prefs&Copy
sys:mconfigs/M.Prefsconfig
m
Utilities
sys:mconfigs/M.utilsconfig
m
Grafix
sys:mconfigs/M.Grafixconfig
m
Music
sys:mconfigs/M.Musicsconfig
m
Games
sys:mconfigs/M.GamesConfig
m
6
13
13
0
11
11
11
0
0
14
0
0
4
4
13
13
12
4
4
0
0
4
4
0
0
11
0
4
6
6
14
8
0
4
4
4
0
13
0
14
14
14
11
0
0
0
0
0
0
0
13
13
13
13
13
10
10
10
0
0
0
15
15
15
6
8
11
7
7
7
10
10
10
15
3
6
13
13
0
15
13
7
13
7
0
0
0
15
15
9
2
0
8
15
10
7
15
6
12
9
12
9
0












g










































0
0
0
0
2
2
2
0
0
3
0
0
0
0
0
0
0
0
0
2
0
2
2
0
0
0
0
0
4
4
0
0
0
1
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
3
3
3
3
3
end fonts
