StartUp
Word's & Data
Tools
Menus & Disks
NewShell
c:newshell CON:0/0/640/150/NEWSHELL/CLOSE
o
AmosPro
Work:Amos_Pro/AMOSPro
o
Amos Compiler
Work:Amos_Pro/Compiler_Shell
r


n
Blitz.Guide
c:amigaguide Work:Blitz2.guide
o
Blitz Basic 2
Work:blitz2/blitz2
o
Ted
Work:blitz2/ted
r
BlitzGUIGen
work:BlitzGUIGen/BlitzGUIGen
r


n
CanDo 3.0
Work:CanDo/CanDo
o


n


n


n


n
EdWordPro 5
WorkBench:EdWord/EdWordPro
r
WordWorth3
Work:Wordworth3/Wordworth
r
Protext
Work:Protext/protext
r
Ced ?
c:CeD
o
Qed ?
c:ed
c
TextEngine5.1
Work:TextEngineV5.01/TextEngine
r


n
Organiser
Work:Organiser/Organiser
r
DataStore
Work:Datastore/datastore
r
Chronicle
Work:Chronicle/ChronicleV1
r
EpochVoyager
Work:EpochVoyager/EpochVoyager
r
Spondulix
Work:Spondulix_Mark_IV/SpondulixMarkV
c
Fullview
c:fullview
c
Execute Command

c
DOpus 5.0
Work:Opus5/DirectoryOpus
o
DOpus 4.12
WorkBench:DirectoryOpus
r
Dir Work 2
Work:DirWork_2/DW
r
GuiGrc
WorkBench:GuiArc
r
HDClick
WorkBench:hdclick/HDClick
r
Exchange
WorkBench:tools/commodities/Exchange
o
Calculator
WorkBench:tools/Calculator
r
FindIt
c:findit
r
InfoNexus
Work:InfoNexus/InfoNexus
r
Requestfile
WorkBench:c/RequestFile
o


n
DiskExpander
WorkBench:c/DiskExpander WB
c
DEStatistics
WorkBench:DiskExpander/DEStatistics
r
DEDevicePacker
WorkBench:DiskExpander/DevicePacker
r
SnoopDos
Work:snoopdos/SnoopDos
o
Format DF0:
WorkBench:system/Format drive df0: name empty0 noicons
r
Format DF1:
WorkBench:system/Format drive df1: name empty1 noicons
r


n


n
Page Stream
Work:PageStream2/PageStream2UK
r


n


n
Prefs&Copy
sys:wbstartup/MConfigs/M.Prefsconfig
m
Utilities
sys:wbstartup/MConfigs/M.utilsconfig
m
Grafix
sys:wbstartup/MConfigs/M.Grafixconfig
m
Music
sys:wbstartup/MConfigs/M.Musicsconfig
m
Games
sys:wbstartup/MConfigs/M.GamesConfig
m
6
13
13
0
11
11
11
11
0
14
0
0
0
0
13
13
12
3
3
11
0
3
3
14
14
14
3
3
6
6
6
14
7
3
3
3
14
13
0
14
14
14
11
0
0
0
0
14
0
0
13
13
13
13
13
10
10
10
0
0
0
15
15
15
6
8
11
7
7
7
10
10
10
15
3
6
13
13
0
15
13
7
13
7
0
0
0
15
15
9
2
0
8
15
10
7
15
6
12
9
15
0
0























































0
0
0
0
2
2
2
2
0
3
0
0
0
0
0
0
0
0
0
2
3
3
2
2
2
2
4
2
0
0
2
0
0
1
1
1
0
3
0
0
0
0
0
0
0
0
0
4
0
0
3
3
3
3
3
end fonts
